.presentation-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-size{width: 300px;}
  .about{
      position: relative;
      display: flex;
  }
  .txt-about{
      margin-left: 2rem;
      width: 500px;
      text-align: justify;
  }
  .txt-about h4{
      font-size: 3.125rem;
      color: $dark-blue;
  }
  .txt-about h1{
      position: relative;
      left: 15%;
      margin: 0 0 1rem;
      font-family: 'Salsa';
      font-size: 4.125rem;
      background-image: linear-gradient(to right, $yellow, $dark-blue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
  }
  .txt-about p{
      font-size: 1.313rem;
  }
}