.carousel-section {
  padding: 0 2rem;
  .carousel-wrapper {
    position: relative;
    .splide__slide {
      width: auto !important;
      img {
        display: block;
        height: 600px;
  
        @media screen and (max-width:768px) {
        height: 400px;
          
        }
      }
    }
  }
  .carousel-btn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.splide__arrow {
  background-color: $dark-blue;
  color: #fff;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1 !important;
  transition: 0.2s ease-out;
  svg {
    fill: white;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: $yellow;
  }
}

.splide__arrow--prev {
  left: -1rem; /* ajuster la position si nécessaire */
}

.splide__arrow--next {
  right: -1rem; /* ajuster la position si nécessaire */
}
