footer {
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
      margin: 1.5rem 0;
    }
    h6 {
      font-size: 1.5rem;
      color: $dark-blue;
      margin-bottom: 0.5rem;
    }
    .contact-footer {
      text-align: center;
      p {
        font-size: 1.313rem;
        color: $dark-blue;
      }
    }
    .social-footer {
      text-align: center;
      margin-left: 5rem;
      @media screen and (max-width: 768px) {
      margin-left: 0rem;        
      }
      a {
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
        .logoRS {
          width: 32px;
        }
      }
    }
  }
  .cp p {
    font-size: 1.313rem;
    color: $dark-blue;
  }
}
