// .gallery-h1 {
//   text-align: center;
//   font-size: 4rem;
//   margin-top: 6rem;
// }

// .gallery-section {
//   margin: 0 auto 8rem;
//   width: $width;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   gap: 2rem;
// }
// .button-grp {
//   display: flex;
//   gap: 1rem;
//   .button {
//     display: inline-block;
//     padding: 1rem 2rem;
//     background-color: #fff;
//     border: $dark-blue solid 0.1rem;
//     border-radius: 2rem;
//     color: $dark-blue;
//     font-size: 1.5rem;
//     cursor: pointer;
//   }
// }

// .button:hover {
//   background-color: $yellow;
//   color: #fff;
// }

// .button:active,
// .button.is-checked {
//   background-color: $dark-blue;
// }

// .button.is-checked {
//   color: white;
// }


// /* ---- isotope ---- */

// .grid-gallery {
//   width: $width;
//   margin: 0 auto;
// }

// /* clear fix */
// .grid-gallery:after {
//   content: "";
//   display: block;
//   clear: both;
// }

// /* ---- .element-item ---- */

// .grid-item {
//   position: relative;
//   float: left;
  
//   img {
//     display: block;
//     height: 100%;
//     width: 100%;
//     // object-fit: cover;
//   }
// }
// // .portrait {
// //   width: 20rem;
// // }
// // .paysage {
// //   width: 40rem;
// // }
// .grid-item > * {
//   margin: 0;
//   padding: 0;
// }

.articles {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.articles-container {
  /* max-width: 79.375rem; */
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.articles-title {
  font-size: 3.125em;
  margin-bottom: 2.8125rem;
  color: var(--blue);
}
.articles-filter {
  margin-bottom: 3em;
}
.filter-articles {
  display: flex;
  align-items: center;
  column-gap: 1.5625rem;
  row-gap: 0.3125rem;
  flex-wrap: wrap;
}
.filter-articles-item {
  cursor: pointer;
  color: var(--blue);
  border: var(--blue) solid 0.1em;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 2.313em;
  border-radius: 2em;
}
.filter-articles-item:hover,
.filter-articles-item:focus{
  transition: all 0.2s;
  color: white;
  background-color: var(--yellow);
  border: var(--blue) solid 0.1em;
}
.filter-articles-item.active{
  transition: all 1s;
  color: white;
  background-color: var(--blue);
  border: var(--blue) solid 0.1em;
}
.articles-items {
  margin: 0 auto;
  transition: all 0.3s;
}
.articles-item{
  width: 20em;
  margin-bottom: 1.25em;
}
.articles-item-paysage{
  width: 41.25em;
  margin-bottom: 1.25em;
}
