.articles {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.articles-container {
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.articles-title {
  font-size: 4rem;
  margin-bottom: 2.8125rem;
  color: $dark-blue;
}
.articles-filter {
  margin-bottom: 3em;
}
.filter-articles {
  display: flex;
  align-items: center;
  column-gap: 1.5625rem;
  row-gap: 0.3125rem;
  flex-wrap: wrap;
}
.filter-articles-item {
  padding: 1rem 2rem;
  background-color: #fff;
  border: $dark-blue solid 0.1rem;
  border-radius: 2rem;
  color: $dark-blue;
  font-size: 1.5rem;
  transition: all 0.3s;
  cursor: pointer;
}
.filter-articles-item:hover,
.filter-articles-item:focus {
  transition: all 0.2s;
  color: white;
  background-color: $yellow;
  border: $dark-blue solid 0.1rem;
}
.filter-articles-item.active {
  transition: all 1s;
  color: white;
  background-color: $dark-blue;
  border: $dark-blue solid 0.1rem;
}
.article {
  cursor: pointer;
}
.articles-items {
  margin: 0 auto;
  transition: all 0.3s;
}
.articles-item {
  width: 20em;
  margin-bottom: 1.25em;
}
.articles-item-paysage {
  width: 41.25em;
  margin-bottom: 1.25em;
}

@media (max-width: 430px) {
  .articles-item {
    width: 100%;
  }
  /* Cancel fitWidth */
  .articles-item {
    width: auto !important;
  }
}

.article-image {
  display: block;
  position: relative;
  border-radius: 0.1875rem;
  overflow: hidden;
}
.article-image:hover img {
  transform: scale(1.03);
}
.article-image img.init {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform 0.3s;
}

.lightbox {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.lightbox-close {
  position: absolute;
  top: 5vh;
  right: 30px;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: 0.5rem solid white;
  border-radius: 50%;
  padding: 0 2rem;
}

.lightbox-close:hover,
.lightbox-close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.lightbox-prev,
.lightbox-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.5rem;
  color: white;
  font-weight: bold;
  font-size: 5rem;
  border-radius: 50%;
  background: none;
  border: 0.5rem solid white;
  user-select: none;
}

.lightbox-prev {
  left: 2vw;
  padding: 0 2.2rem 0.5rem 1.9rem;
}

.lightbox-next {
  right: 2vw;
  padding: 0 1.9rem 0.5rem 2.2rem;
}

.lightbox-prev:hover,
.lightbox-next:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
