nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 128px;

  // Styles pour les grands écrans (desktop)
  ul {
    display: flex; // S'assure que la liste est visible en ligne pour les grands écrans
    flex-direction: row; // Disposition horizontale par défaut
    li {
      display: inline;
      padding-left: 2rem;

      &:first-child {
        padding-left: 0;
      }

      a {
        font-size: 1.75rem;
        color: $dark-blue;
        font-weight: bold;
        transition: 0.2s ease-out;

        &:hover {
          color: $light-blue;
        }
      }
    }
  }

  // Styles pour la version mobile/tablette
  @media screen and (max-width: 768px) {
    justify-content: center; // Centre le logo au milieu

    .hamburger {
      display: flex;
      position: absolute;
      left: 2rem; // Aligner le hamburger à gauche
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 100vw;
      background-color: #fff;
      transition: transform 0.3s ease-out;
      z-index: 999;
    }

    ul.open {

      transform: translateX(100%);
    }

    li {
      padding: 2rem 0 !important;
      text-align: center;

      a {
        font-size: 2rem; // Taille plus grande pour mobile
        color: #fff; // Blanc pour contraster avec le fond noir
      }
    }
  }
}

// Hamburger button styles
.hamburger {
  display: none; // Masquer par défaut sur les grands écrans
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 1000;

  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $dark-blue;
    transition: all 0.3s ease;
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 7px); // Première barre
      }
      &:nth-child(2) {
        opacity: 0; // Cacher la deuxième barre
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -7px); // Troisième barre
      }
    }
  }
}
