.project-section {
  margin: 3.75rem auto;
  width: $width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  .project-h1 {
    text-align: center;
    font-size: 4rem;
    @media (max-width: 1024px) {
      font-size: 3rem;
    }
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
  .project-wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .project-card {
      border-radius: 0.5rem;
      margin: 0.5rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      &:hover,
      &:focus {
        transition: all 0.3s ease-out;
        transform: scale(1.05);
      }
      h4 {
        padding: 0.5rem;
        font-size: 1.875rem;
        color: $dark-blue;
        @media (max-width: 1024px) {
          font-size: 1.6rem;
        }
        @media (max-width: 768px) {
          font-size: 1.4rem;
        }
      }
      .project-img {
        width: 100%;
      }
      p {
        padding: 1rem 0.5rem;
        font-size: 1.313rem;
        color: $dark-blue;
        text-align: justify;
        @media (max-width: 1024px) {
          font-size: 1.15rem;
        }
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}
