.intro-section {
  background: #fff;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  h1 {
    font-size: 7rem;
    overflow: hidden;
    line-height: 5.9rem;
  }
  &.show {
    opacity: 1; /* Ajoute une classe pour montrer la section avec opacité */
  }

  .char {
    transform: translateY(115px);
    transition: transform 0.5s;
  }
}
